
html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block
}

summary {
    display: list-item
}

audio, canvas, progress, video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/* End extract */
html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.ldv-serif {
    font-family: serif
}

.ldv-sans-serif {
    font-family: sans-serif
}

.ldv-cursive {
    font-family: cursive
}

.ldv-monospace {
    font-family: monospace
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.ldv-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.ldv-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.ldv-table, .ldv-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.ldv-table-all {
    border: 1px solid #ccc
}

.ldv-bordered tr, .ldv-table-all tr {
    border-bottom: 1px solid #ddd
}

.ldv-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.ldv-table-all tr:nth-child(odd) {
    background-color: #fff
}

.ldv-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.ldv-hoverable tbody tr:hover, .ldv-ul.ldv-hoverable li:hover {
    background-color: #ccc
}

.ldv-centered tr th, .ldv-centered tr td {
    text-align: center
}

.ldv-table td, .ldv-table th, .ldv-table-all td, .ldv-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

.ldv-table th:first-child, .ldv-table td:first-child, .ldv-table-all th:first-child, .ldv-table-all td:first-child {
    padding-left: 16px
}

.ldv-btn, .ldv-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.ldv-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.ldv-btn, .ldv-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ldv-disabled, .ldv-btn:disabled, .ldv-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.ldv-disabled *, :disabled * {
    pointer-events: none
}

.ldv-btn.ldv-disabled:hover, .ldv-btn:disabled:hover {
    box-shadow: none
}

.ldv-badge, .ldv-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.ldv-badge {
    border-radius: 50%
}

.ldv-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.ldv-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.ldv-ul li:last-child {
    border-bottom: none
}

.ldv-tooltip, .ldv-display-container {
    position: relative
}

.ldv-tooltip .ldv-text {
    display: none
}

.ldv-tooltip:hover .ldv-text {
    display: inline-block
}

.ldv-ripple:active {
    opacity: 0.5
}

.ldv-ripple {
    transition: opacity 0s
}

.ldv-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.ldv-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.ldv-dropdown-click, .ldv-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.ldv-dropdown-hover:hover .ldv-dropdown-content {
    display: block
}

.ldv-dropdown-hover:first-child, .ldv-dropdown-click:hover {
    background-color: #ccc;
    color: #000
}

.ldv-dropdown-hover:hover>.ldv-button:first-child, .ldv-dropdown-click:hover>.ldv-button:first-child {
    background-color: #ccc;
    color: #000
}

.ldv-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.ldv-check, .ldv-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.ldv-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.ldv-bar-block .ldv-dropdown-hover, .ldv-bar-block .ldv-dropdown-click {
    width: 100%
}

.ldv-bar-block .ldv-dropdown-hover .ldv-dropdown-content, .ldv-bar-block .ldv-dropdown-click .ldv-dropdown-content {
    min-width: 100%
}

.ldv-bar-block .ldv-dropdown-hover .ldv-button, .ldv-bar-block .ldv-dropdown-click .ldv-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.ldv-main, #main {
    transition: margin-left .4s
}

.ldv-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.ldv-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.ldv-bar {
    width: 100%;
    overflow: hidden
}

.ldv-center .ldv-bar {
    display: inline-block;
    width: auto
}

.ldv-bar .ldv-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.ldv-bar .ldv-dropdown-hover, .ldv-bar .ldv-dropdown-click {
    position: static;
    float: left
}

.ldv-bar .ldv-button {
    white-space: normal
}

.ldv-bar-block .ldv-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.ldv-bar-block.ldv-center .ldv-bar-item {
    text-align: center
}

.ldv-block {
    display: block;
    width: 100%
}

.ldv-responsive {
    display: block;
    overflow-x: auto
}

.ldv-container:after, .ldv-container:before, .ldv-panel:after, .ldv-panel:before, .ldv-row:after, .ldv-row:before, .ldv-row-padding:after, .ldv-row-padding:before,
.ldv-cell-row:before, .ldv-cell-row:after, .ldv-clear:after, .ldv-clear:before, .ldv-bar:before, .ldv-bar:after {
    content: "";
    display: table;
    clear: both
}

.ldv-col, .ldv-half, .ldv-third, .ldv-twothird, .ldv-threequarter, .ldv-quarter {
    float: left;
    width: 100%
}

.ldv-col.s1 {
    width: 8.33333%
}

.ldv-col.s2 {
    width: 16.66666%
}

.ldv-col.s3 {
    width: 24.99999%
}

.ldv-col.s4 {
    width: 33.33333%
}

.ldv-col.s5 {
    width: 41.66666%
}

.ldv-col.s6 {
    width: 49.99999%
}

.ldv-col.s7 {
    width: 58.33333%
}

.ldv-col.s8 {
    width: 66.66666%
}

.ldv-col.s9 {
    width: 74.99999%
}

.ldv-col.s10 {
    width: 83.33333%
}

.ldv-col.s11 {
    width: 91.66666%
}

.ldv-col.s12 {
    width: 99.99999%
}

@media (min-width:601px) {
    .ldv-col.m1 {
        width: 8.33333%
    }

    .ldv-col.m2 {
        width: 16.66666%
    }

    .ldv-col.m3, .ldv-quarter {
        width: 24.99999%
    }

    .ldv-col.m4, .ldv-third {
        width: 33.33333%
    }

    .ldv-col.m5 {
        width: 41.66666%
    }

    .ldv-col.m6, .ldv-half {
        width: 49.99999%
    }

    .ldv-col.m7 {
        width: 58.33333%
    }

    .ldv-col.m8, .ldv-twothird {
        width: 66.66666%
    }

    .ldv-col.m9, .ldv-threequarter {
        width: 74.99999%
    }

    .ldv-col.m10 {
        width: 83.33333%
    }

    .ldv-col.m11 {
        width: 91.66666%
    }

    .ldv-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .ldv-col.l1 {
        width: 8.33333%
    }

    .ldv-col.l2 {
        width: 16.66666%
    }

    .ldv-col.l3 {
        width: 24.99999%
    }

    .ldv-col.l4 {
        width: 33.33333%
    }

    .ldv-col.l5 {
        width: 41.66666%
    }

    .ldv-col.l6 {
        width: 49.99999%
    }

    .ldv-col.l7 {
        width: 58.33333%
    }

    .ldv-col.l8 {
        width: 66.66666%
    }

    .ldv-col.l9 {
        width: 74.99999%
    }

    .ldv-col.l10 {
        width: 83.33333%
    }

    .ldv-col.l11 {
        width: 91.66666%
    }

    .ldv-col.l12 {
        width: 99.99999%
    }
}

.ldv-rest {
    overflow: hidden
}

.ldv-stretch {
    margin-left: -16px;
    margin-right: -16px
}

.ldv-content, .ldv-auto {
    margin-left: auto;
    margin-right: auto
}

.ldv-content {
    max-width: 980px
}

.ldv-auto {
    max-width: 1140px
}

.ldv-cell-row {
    display: table;
    width: 100%
}

.ldv-cell {
    display: table-cell
}

.ldv-cell-top {
    vertical-align: top
}

.ldv-cell-middle {
    vertical-align: middle
}

.ldv-cell-bottom {
    vertical-align: bottom
}

.ldv-hide {
    display: none !important
}

.ldv-show-block, .ldv-show {
    display: block !important
}

.ldv-show-inline-block {
    display: inline-block !important
}

@media (max-width:1205px) {
    .ldv-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .ldv-modal-content {
        margin: 0 10px;
        width: auto !important
    }

    .ldv-modal {
        padding-top: 30px
    }

    .ldv-dropdown-hover.ldv-mobile .ldv-dropdown-content, .ldv-dropdown-click.ldv-mobile .ldv-dropdown-content {
        position: relative
    }

    .ldv-hide-small {
        display: none !important
    }

    .ldv-mobile {
        display: block;
        width: 100% !important
    }

    .ldv-bar-item.ldv-mobile, .ldv-dropdown-hover.ldv-mobile, .ldv-dropdown-click.ldv-mobile {
        text-align: center
    }

    .ldv-dropdown-hover.ldv-mobile, .ldv-dropdown-hover.ldv-mobile .ldv-btn, .ldv-dropdown-hover.ldv-mobile .ldv-button, .ldv-dropdown-click.ldv-mobile, .ldv-dropdown-click.ldv-mobile .ldv-btn, .ldv-dropdown-click.ldv-mobile .ldv-button {
        width: 100%
    }
}

@media (max-width:768px) {
    .ldv-modal-content {
        width: 500px
    }

    .ldv-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .ldv-modal-content {
        width: 900px
    }

    .ldv-hide-large {
        display: none !important
    }

    .ldv-sidebar.ldv-collapse {
        display: block !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .ldv-hide-medium {
        display: none !important
    }
}

@media (max-width:992px) {
    .ldv-sidebar.ldv-collapse {
        display: none
    }

    .ldv-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .ldv-auto {
        max-width: 100%
    }
}

.ldv-top, .ldv-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.ldv-top {
    top: 0
}

.ldv-bottom {
    bottom: 0
}

.ldv-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}

.ldv-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.ldv-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.ldv-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.ldv-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.ldv-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.ldv-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.ldv-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.ldv-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.ldv-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.ldv-display-container:hover .ldv-display-hover {
    display: block
}

.ldv-display-container:hover span.ldv-display-hover {
    display: inline-block
}

.ldv-display-hover {
    display: none
}

.ldv-display-position {
    position: absolute
}

.ldv-circle {
    border-radius: 50%
}

.ldv-round-small {
    border-radius: 2px
}

.ldv-round, .ldv-round-medium {
    border-radius: 4px
}

.ldv-round-large {
    border-radius: 8px
}

.ldv-round-xlarge {
    border-radius: 16px
}

.ldv-round-xxlarge {
    border-radius: 32px
}

.ldv-row-padding, .ldv-row-padding>.ldv-half, .ldv-row-padding>.ldv-third, .ldv-row-padding>.ldv-twothird, .ldv-row-padding>.ldv-threequarter, .ldv-row-padding>.ldv-quarter, .ldv-row-padding>.ldv-col {
    padding: 0 8px
}

.ldv-container, .ldv-panel {
    padding: 0.01em 16px
}

.ldv-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.ldv-code, .ldv-codespan {
    font-family: Consolas, "courier new";
    font-size: 16px
}

.ldv-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.ldv-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.ldv-card, .ldv-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.ldv-card-4, .ldv-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.ldv-spin {
    animation: ldv-spin 2s infinite linear
}

@keyframes ldv-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.ldv-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldv-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.ldv-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.ldv-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.ldv-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.ldv-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.ldv-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.ldv-animate-input {
    transition: width 0.4s ease-in-out
}

.ldv-animate-input:focus {
    width: 100% !important
}

.ldv-opacity, .ldv-hover-opacity:hover {
    opacity: 0.60
}

.ldv-opacity-off, .ldv-hover-opacity-off:hover {
    opacity: 1
}

.ldv-opacity-max {
    opacity: 0.25
}

.ldv-opacity-min {
    opacity: 0.75
}

.ldv-greyscale-max, .ldv-grayscale-max, .ldv-hover-greyscale:hover, .ldv-hover-grayscale:hover {
    filter: grayscale(100%)
}

.ldv-greyscale, .ldv-grayscale {
    filter: grayscale(75%)
}

.ldv-greyscale-min, .ldv-grayscale-min {
    filter: grayscale(50%)
}

.ldv-sepia {
    filter: sepia(75%)
}

.ldv-sepia-max, .ldv-hover-sepia:hover {
    filter: sepia(100%)
}

.ldv-sepia-min {
    filter: sepia(50%)
}

.ldv-tiny {
    font-size: 10px !important
}

.ldv-small {
    font-size: 12px !important
}

.ldv-medium {
    font-size: 15px !important
}

.ldv-large {
    font-size: 18px !important
}

.ldv-xlarge {
    font-size: 24px !important
}

.ldv-xxlarge {
    font-size: 36px !important
}

.ldv-xxxlarge {
    font-size: 48px !important
}

.ldv-jumbo {
    font-size: 64px !important
}

.ldv-left-align {
    text-align: left !important
}

.ldv-right-align {
    text-align: right !important
}

.ldv-justify {
    text-align: justify !important
}

.ldv-center {
    text-align: center !important
}

.ldv-border-0 {
    border: 0 !important
}

.ldv-border {
    border: 1px solid #ccc !important
}

.ldv-border-top {
    border-top: 1px solid #ccc !important
}

.ldv-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.ldv-border-left {
    border-left: 1px solid #ccc !important
}

.ldv-border-right {
    border-right: 1px solid #ccc !important
}

.ldv-topbar {
    border-top: 6px solid #ccc !important
}

.ldv-bottombar {
    border-bottom: 6px solid #ccc !important
}

.ldv-leftbar {
    border-left: 6px solid #ccc !important
}

.ldv-rightbar {
    border-right: 6px solid #ccc !important
}

.ldv-section, .ldv-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.ldv-margin {
    margin: 16px !important
}

.ldv-margin-top {
    margin-top: 16px !important
}

.ldv-margin-bottom {
    margin-bottom: 16px !important
}

.ldv-margin-left {
    margin-left: 16px !important
}

.ldv-margin-right {
    margin-right: 16px !important
}

.ldv-padding-small {
    padding: 4px 8px !important
}

.ldv-padding {
    padding: 8px 16px !important
}

.ldv-padding-large {
    padding: 12px 24px !important
}

.ldv-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.ldv-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.ldv-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.ldv-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.ldv-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.ldv-padding-top-64 {
    padding-top: 64px !important
}

.ldv-padding-top-48 {
    padding-top: 48px !important
}

.ldv-padding-top-32 {
    padding-top: 32px !important
}

.ldv-padding-top-24 {
    padding-top: 24px !important
}

.ldv-left {
    float: left !important
}

.ldv-right {
    float: right !important
}

.ldv-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.ldv-transparent, .ldv-hover-none:hover {
    background-color: transparent !important
}

.ldv-hover-none:hover {
    box-shadow: none !important
}

/* Colors */
.ldv-amber, .ldv-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important
}

.ldv-aqua, .ldv-hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important
}

.ldv-blue, .ldv-hover-blue:hover {
    color: #fff !important;
    background-color: #2196F3 !important
}

.ldv-light-blue, .ldv-hover-light-blue:hover {
    color: #000 !important;
    background-color: #87CEEB !important
}

.ldv-brown, .ldv-hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important
}

.ldv-cyan, .ldv-hover-cyan:hover {
    color: #000 !important;
    background-color: #00bcd4 !important
}

.ldv-blue-grey, .ldv-hover-blue-grey:hover, .ldv-blue-gray, .ldv-hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important
}

.ldv-green, .ldv-hover-green:hover {
    color: #fff !important;
    background-color: #4CAF50 !important
}

.ldv-light-green, .ldv-hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important
}

.ldv-indigo, .ldv-hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important
}

.ldv-khaki, .ldv-hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important
}

.ldv-lime, .ldv-hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important
}

.ldv-orange, .ldv-hover-orange:hover {
    color: #000 !important;
    background-color: #ff9800 !important
}

.ldv-deep-orange, .ldv-hover-deep-orange:hover {
    color: #fff !important;
    background-color: #ff5722 !important
}

.ldv-pink, .ldv-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important
}

.ldv-purple, .ldv-hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important
}

.ldv-deep-purple, .ldv-hover-deep-purple:hover {
    color: #fff !important;
    background-color: #673ab7 !important
}

.ldv-red, .ldv-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.ldv-sand, .ldv-hover-sand:hover {
    color: #000 !important;
    background-color: #fdf5e6 !important
}

.ldv-teal, .ldv-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important
}

.ldv-yellow, .ldv-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important
}

.ldv-white, .ldv-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.ldv-black, .ldv-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important
}

.ldv-grey, .ldv-hover-grey:hover, .ldv-gray, .ldv-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important
}

.ldv-light-grey, .ldv-hover-light-grey:hover, .ldv-light-gray, .ldv-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.ldv-dark-grey, .ldv-hover-dark-grey:hover, .ldv-dark-gray, .ldv-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important
}

.ldv-pale-red, .ldv-hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important
}

.ldv-pale-green, .ldv-hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important
}

.ldv-pale-yellow, .ldv-hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important
}

.ldv-pale-blue, .ldv-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important
}

.ldv-text-amber, .ldv-hover-text-amber:hover {
    color: #ffc107 !important
}

.ldv-text-aqua, .ldv-hover-text-aqua:hover {
    color: #00ffff !important
}

.ldv-text-blue, .ldv-hover-text-blue:hover {
    color: #2196F3 !important
}

.ldv-text-light-blue, .ldv-hover-text-light-blue:hover {
    color: #87CEEB !important
}

.ldv-text-brown, .ldv-hover-text-brown:hover {
    color: #795548 !important
}

.ldv-text-cyan, .ldv-hover-text-cyan:hover {
    color: #00bcd4 !important
}

.ldv-text-blue-grey, .ldv-hover-text-blue-grey:hover, .ldv-text-blue-gray, .ldv-hover-text-blue-gray:hover {
    color: #607d8b !important
}

.ldv-text-green, .ldv-hover-text-green:hover {
    color: #4CAF50 !important
}

.ldv-text-light-green, .ldv-hover-text-light-green:hover {
    color: #8bc34a !important
}

.ldv-text-indigo, .ldv-hover-text-indigo:hover {
    color: #3f51b5 !important
}

.ldv-text-khaki, .ldv-hover-text-khaki:hover {
    color: #b4aa50 !important
}

.ldv-text-lime, .ldv-hover-text-lime:hover {
    color: #cddc39 !important
}

.ldv-text-orange, .ldv-hover-text-orange:hover {
    color: #ff9800 !important
}

.ldv-text-deep-orange, .ldv-hover-text-deep-orange:hover {
    color: #ff5722 !important
}

.ldv-text-pink, .ldv-hover-text-pink:hover {
    color: #e91e63 !important
}

.ldv-text-purple, .ldv-hover-text-purple:hover {
    color: #9c27b0 !important
}

.ldv-text-deep-purple, .ldv-hover-text-deep-purple:hover {
    color: #673ab7 !important
}

.ldv-text-red, .ldv-hover-text-red:hover {
    color: #f44336 !important
}

.ldv-text-sand, .ldv-hover-text-sand:hover {
    color: #fdf5e6 !important
}

.ldv-text-teal, .ldv-hover-text-teal:hover {
    color: #009688 !important
}

.ldv-text-yellow, .ldv-hover-text-yellow:hover {
    color: #d2be0e !important
}

.ldv-text-white, .ldv-hover-text-white:hover {
    color: #fff !important
}

.ldv-text-black, .ldv-hover-text-black:hover {
    color: #000 !important
}

.ldv-text-grey, .ldv-hover-text-grey:hover, .ldv-text-gray, .ldv-hover-text-gray:hover {
    color: #757575 !important
}

.ldv-text-light-grey, .ldv-hover-text-light-grey:hover, .ldv-text-light-gray, .ldv-hover-text-light-gray:hover {
    color: #f1f1f1 !important
}

.ldv-text-dark-grey, .ldv-hover-text-dark-grey:hover, .ldv-text-dark-gray, .ldv-hover-text-dark-gray:hover {
    color: #3a3a3a !important
}

.ldv-border-amber, .ldv-hover-border-amber:hover {
    border-color: #ffc107 !important
}

.ldv-border-aqua, .ldv-hover-border-aqua:hover {
    border-color: #00ffff !important
}

.ldv-border-blue, .ldv-hover-border-blue:hover {
    border-color: #2196F3 !important
}

.ldv-border-light-blue, .ldv-hover-border-light-blue:hover {
    border-color: #87CEEB !important
}

.ldv-border-brown, .ldv-hover-border-brown:hover {
    border-color: #795548 !important
}

.ldv-border-cyan, .ldv-hover-border-cyan:hover {
    border-color: #00bcd4 !important
}

.ldv-border-blue-grey, .ldv-hover-border-blue-grey:hover, .ldv-border-blue-gray, .ldv-hover-border-blue-gray:hover {
    border-color: #607d8b !important
}

.ldv-border-green, .ldv-hover-border-green:hover {
    border-color: #4CAF50 !important
}

.ldv-border-light-green, .ldv-hover-border-light-green:hover {
    border-color: #8bc34a !important
}

.ldv-border-indigo, .ldv-hover-border-indigo:hover {
    border-color: #3f51b5 !important
}

.ldv-border-khaki, .ldv-hover-border-khaki:hover {
    border-color: #f0e68c !important
}

.ldv-border-lime, .ldv-hover-border-lime:hover {
    border-color: #cddc39 !important
}

.ldv-border-orange, .ldv-hover-border-orange:hover {
    border-color: #ff9800 !important
}

.ldv-border-deep-orange, .ldv-hover-border-deep-orange:hover {
    border-color: #ff5722 !important
}

.ldv-border-pink, .ldv-hover-border-pink:hover {
    border-color: #e91e63 !important
}

.ldv-border-purple, .ldv-hover-border-purple:hover {
    border-color: #9c27b0 !important
}

.ldv-border-deep-purple, .ldv-hover-border-deep-purple:hover {
    border-color: #673ab7 !important
}

.ldv-border-red, .ldv-hover-border-red:hover {
    border-color: #f44336 !important
}

.ldv-border-sand, .ldv-hover-border-sand:hover {
    border-color: #fdf5e6 !important
}

.ldv-border-teal, .ldv-hover-border-teal:hover {
    border-color: #009688 !important
}

.ldv-border-yellow, .ldv-hover-border-yellow:hover {
    border-color: #ffeb3b !important
}

.ldv-border-white, .ldv-hover-border-white:hover {
    border-color: #fff !important
}

.ldv-border-black, .ldv-hover-border-black:hover {
    border-color: #000 !important
}

.ldv-border-grey, .ldv-hover-border-grey:hover, .ldv-border-gray, .ldv-hover-border-gray:hover {
    border-color: #9e9e9e !important
}

.ldv-border-light-grey, .ldv-hover-border-light-grey:hover, .ldv-border-light-gray, .ldv-hover-border-light-gray:hover {
    border-color: #f1f1f1 !important
}

.ldv-border-dark-grey, .ldv-hover-border-dark-grey:hover, .ldv-border-dark-gray, .ldv-hover-border-dark-gray:hover {
    border-color: #616161 !important
}

.ldv-border-pale-red, .ldv-hover-border-pale-red:hover {
    border-color: #ffe7e7 !important
}

.ldv-border-pale-green, .ldv-hover-border-pale-green:hover {
    border-color: #e7ffe7 !important
}

.ldv-border-pale-yellow, .ldv-hover-border-pale-yellow:hover {
    border-color: #ffffcc !important
}

.ldv-border-pale-blue, .ldv-hover-border-pale-blue:hover {
    border-color: #e7ffff !important
}

img.ldv-image.mobile {
    display: none;
}

.copy svg {
    position: relative;
    top: 5px;
}

.ldv-row-padding.ldv-grayscale img {
    width: 6pc !important;
}

.ldv-row-padding.ldv-grayscale div {
    text-align: center;
}

@media screen and (max-width: 600px) {
    img.ldv-image.mobile {
        display: block;
    }

    img.ldv-image.desktop {
        display: none;
    }
}

html, body{
    scroll-behavior: smooth;
}